.mapWrapper {
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #001f3f, #2c003e);
  color: white;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.map {
  height: 80vh;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
